---  
import Layout from '../layouts/Layout.astro';  
import Card from '../components/Card.astro';  
---  

<Layout title="My Portfolio" description="Welcome!">  
  <Card title="Hey there, I'm Aniruddh">  
    <!-- Replace with your photo, about-me text, etc. -->  
    <p>Lorem Ipsum</p>  
  </Card>  
</Layout>