---
import Head from "../components/Head.astro"
import SpeedInsights from "@vercel/speed-insights/astro"
import Particles from "../scripts/particles"
---


<!doctype html>  
<html lang="en">
  <Head title="Home" permalink="/" />
  <SpeedInsights />
  <body>
    <div style="
      position: fixed;
      z-index: 0;
      inset: 0;
      width: 100vw;
      height: 100vh;
      pointer-events: none;
    ">
      <Particles
        client:load
        particleColors={['#ffffff', '#ffffff']}
        particleCount={200}
        particleSpread={10}
        speed={0.1}
        particleBaseSize={100}
        moveParticlesOnHover={true}
        alphaParticles={false}
        disableRotation={false}
      />
    </div>
    <div class="page-content">  
      <slot />  
    </div>  
  </body>  
</html>  

<style lang="scss" is:global>

body {
  background: #121212;
  color: #e0e0e0
}

.page-content {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  min-height: 100vh;
  z-index: 1;
}
</style>
