---
import Head from "../components/Head.astro"
import SpeedInsights from "@vercel/speed-insights/astro"
import Particles from "../scripts/particles"
import MultiplayerCursors from "../components/MultiplayerCursors"
import "../styles/multiplayer-cursors.css"

// Get the PartyKit host from environment or use default for development
const PARTYKIT_HOST = import.meta.env.PUBLIC_PARTYKIT_HOST || "localhost:1999"
---


<!doctype html>  
<html lang="en">
  <Head title="Home" permalink="/" />
  <SpeedInsights />
  <body>
    <MultiplayerCursors client:only="react" host={PARTYKIT_HOST} room="main" />
    <div
    class="particles-container"
    >
      <Particles
        client:load
        particleColors={['#ffffff', '#ffffff']}
        particleCount={200}
        particleSpread={10}
        speed={0.1}
        particleBaseSize={100}
        moveParticlesOnHover={true}
        alphaParticles={false}
        disableRotation={false}
      />
    </div>
    <div class="page-content">
      <slot />
    </div>
  </body>  
</html>  

<style lang="scss" is:global>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #121212;
  color: #e0e0e0;
  position: relative;
}

.particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.page-content {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
</style>
